@font-face {
  font-family: "Chocolate";
  src:
    /* IE6-IE8 */ url("./fonts/DottiesVanilla-Black.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/DottiesVanilla-Black.woff")
      format("woff");
}
@font-face {
  font-family: "Chocolate Bold";
  src:
      /* IE6-IE8 */ url("./fonts/DottiesChocolate-ExtraBold.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/DottiesChocolate-ExtraBold.woff")
      format("woff");
}
h1,
.chocolate {
  font-family: "Chocolate" !important;
}
.chocolate-bold {
  font-family: "Chocolate Bold" !important;
}
